li {
    background-color: #7f9cfd;
    
}
body{
    background-color: #666666;
    
}

.btn{
    background-color: aliceblue;
    margin: 10px;

}
.container{
    background-color:rgb(161, 245, 227)
}
.hide{
    display: none;
}
